.title {
  height: 250px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  align-items: center;

  text-align: center;

  padding: 50px 250px;
  height: 150px;
}

.info p {
  font-size: large;
  font-weight: 600;

  color: rgb(73, 18, 73);
}

.feature {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px 120px;
}

.callToAction {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 20px 0;
}

.callToAction p {
  color: gray;
  font-size: x-large;

  text-transform: uppercase;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 20px 0;
}
