.featureContainer {
  display: flex;
  flex-direction: column;

  width: 50%;
  margin: 0 20px;

  border-radius: 5%;
  box-shadow: 10px 10px 20px lightgray;
}

.imgContainer {
  align-self: center;
}

.imgContainer img {
  width: auto;
  max-height: 350px;

  border-radius: 15px;
}

.titleContainer {
  align-self: center;
}

.titleContainer h3 {
  color: rgb(75, 75, 75);
}

.buttonContainer {
  align-self: center;

  margin-bottom: 20px;
}
